<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/intra.css">
    <title>Intranet</title>
</head>
<body>


    <div class="wrapper">
        <header class="main-head"> <title >Huxyaca Hotel</title></header>
        <nav class="main-nav">
            <ul>
                <li><a href="">Cuartos</a></li>
                <li><a href="">Visitantes</a></li>
                <li><a href="">Opiniones</a></li>
            </ul>
        </nav>
        <article class="content">
           {{#each habitaciones}}

  
    <div class="container">
        <div class="cards">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{this.nombre}}</h4>
                    </div>
                   
                        <p>
                            <strong>Descripción:</strong> {{this.descripcion}}
                        </p>
                        <p>
                            <strong>Precio:</strong> {{this.camas}}
                        </p>
                        <p>
                            <strong>Capacidad:</strong> {{this.huespedes}}
                        </p>
                        <p>
                            <strong>Cuenta con balcon:</strong> {{this.balcon}}
                        </p>
                        <p>
                            <strong>Disponible:</strong> {{this.disponible}}
                        </p>
                    <a class="card-link" href="habitaciones/{{this.id}}">Ver detalle <i class="fas fa-arrow-right"></i></a>
                   
                </div>
            </div>
        </div>
    
      {{/each}}

        </article>
      
       
        <footer class="main-footer">
                <div class="contenidoa">

                
                    <h3>
                        Huxyaca Hotels
                     </h3>
                    Andador Turistico, <br>
                    Col. Centro.    <br>
                    Oaxaca de Juarez, Oax. <br>
                    h_oaxaca@huxyaca.com
                </div>


                <div class="contenidob">
                    Mapa de sitio

                    <p>
                        <a href="index.html">Inicio</a><br>
                        <a href="habitaciones.html">Habitaciones</a><br>
                        <a href="bar.html">Bar</a>
                        <a href="opiniones.html">Opiniones</a>
                        <a href="intranet">Opiniones</a>

                    </p>
                </div>
                <div class="contenidoc">
                    <img src="./assets/img/facebook.png" alt="Facebook">Facebook<br>
                    <img src="./assets/img/twitter.png" alt="Twitter">Twitter<br>
                    <img src="./assets/img/instagram.png" alt="Instagram">Instagram
                </div>
           </footer>
</div>
   

                        


                       
</body>
</html>